{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["last 2 versions"]
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/transform-runtime",
    "react-hot-loader/babel",
    "@babel/plugin-syntax-dynamic-import",
    "universal-import",
    ["emotion", { "sourceMap": true, "autoLabel": true }]
  ]
}